<%= link_to "Save Now", "#", :onclick => "$('form.bird').submit();return false;" %>
<% unless @bird.new_record? %>
    &nbsp; | &nbsp;
  <a href="#" style="font-weight:normal;" onclick="save_and_redirect($('form.bird'),'<%= admin_bird_url(@bird) %>');return false;">Save and Preview</a>
<% end %>
  
<div class="edit_saved_status">&nbsp;</div>