
<%
show_attrs = [
  ["Bird", "#{image_tag(@bird.logo.asset.url(:sq100)) unless @bird.logo.nil?}" ],
  ["Question", "<b>#{@question.to_s}</b>" ],
  ["Responses", "Yes: #{@yes_answers.size}, No: #{@no_answers.size}, N/A: #{@na_answers.size}" ],
  ["Yes Comments", @yes_comments.empty? ? "<span class='empty'>empty</span>" : @yes_comments.join('<br/>') ],
  ["No Comments", @no_comments.empty? ? "<span class='empty'>empty</span>" : "<p>#{@no_comments.join('</p><p>')}</p>" ],
  ["N/A Comments", @na_comments.empty? ? "<span class='empty'>empty</span>" : "<p>#{@na_comments.join('</p><p>')}</p>" ],
  ["Evaluators", @answers.map{|a| a.user_evaluation.user.email}.join("<br/>") ]

]
%>
<div class="panel">
  <h3>Evaluation Result Details</h3>
  <div class="panel_contents">
    <div class="attributes_table">
      <table>
        <tbody>
          <% show_attrs.each do |title, details| %>
            <tr>
              <th><%= raw title %></th>
              <td><%= raw details %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>