
<%
show_attrs = [
  ["Bird", "#{image_tag(@bird.logo.asset.url(:sq100)) unless @bird.logo.nil?}" ],
  ["Comments", @comments.empty? ? "<span class='empty'>empty</span>" : "<p>#{@comments.join('</p><p>')}</p>"]
]
%>
<div class='panel'>
  <h3>Evaluation General Comments</h3>
  <div class='panel_contents'>
    <div class='attributes_table'>
      <table>
        <tbody>
          <% show_attrs.each do |title, details| %>
            <tr>
              <th><%= raw title %></th>
              <td><%= raw details %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>