
a, a:link, a:visited {
  color: #38678b;
  text-decoration: none; 
}

#header {
/*  padding: 9px 100px; */
}


  .tooltip {
    display:none;
    /*background:transparent url(/media/img/tooltip/black_arrow.png);*/
    width:150px;
    height:auto;
    background: #EFEFEF;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#dfe1e2);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#dfe1e2);
    text-shadow: white 0 1px 0;
    border: solid 1px #CDCDCD;
    border-color: #D4D4D4;
    border-top-color: #E6E6E6;
    border-right-color: #D4D4D4;
    border-bottom-color: #CDCDCD;
    border-left-color: #D4D4D4;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 0 1px white inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 0 1px white inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 0 1px white inset;
    font-size: 1.0em;
    line-height: 18px;
    margin-bottom: 0.5em;
    color: #555;
    padding: 5px 10px 3px 10px;
    z-index: 1000;

  }


ul#tabs li#admin,
ul#tabs li#dashboard {
  display:none !important;
}


form fieldset legend span {
  font-size:1.2em;
}


li.text.input textarea {
  height:140px;
}

form li.input {
  border-bottom:solid #E6E6E6 1px;
}
form li.input:last-child {
  border-bottom:none;
}



li.input.hidden{
  border:none;
  height:0px;
  padding:0px;
  margin:0px;
}

fieldset.inputs div.fieldset_hint {
  font-size: 0.1.1em;
  color: #666;
  padding:10px;
  margin: 25px 20%;
  border:dotted #CDCDCD 1px;
}


form input[type="text"], form input[type="password"],
form input[type="email"], form input[type="url"], 
form input[type="tel"], form textarea {
  font-size:1em;
  padding:5px;
}

/** Evaluation Set Form **/

form.evaluation_set li.position, 
form.evaluation_set li.question,
form.evaluation_set li.delete
 {
  float:left;
  margin:0 3px;
  padding:10px 0; 
  border:none;
}

form.evaluation_set li.position {
  width: 15%;
  clear:both;
}

form.evaluation_set li.question {
  width:70%;
}

form.evaluation_set li.position label {
  width:auto;
  margin:5px;
}

form.evaluation_set li.position input {
  width: 50px;
  border: 1px solid #C9D0D6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 0.95em;
  font-family: Helvetica, Arial, sans-serif;
  outline: none;
  padding: 8px 10px 7px;
}

form.evaluation_set li.question label {
  margin:5px;
  width:10%;
}

form.evaluation_set li.question input {
  width:85%
}

form.evaluation_set fieldset.has_many_fields a.button {
  margin:5px 10px;
}


/**  User Evaluations Forms **/

div.evaluation_questions a.button {
  font-size:0.95em;
  padding:3px 10px 3px;
}

form.user_evaluation li.question,
form.user_evaluation li.comment
 {
  width: 48%;
  float:left;
  margin:0 3px;
  padding:10px 0;
}

form.user_evaluation li.question {
  clear:both;
}

form.user_evaluation li.question label,
form.user_evaluation li.comment label {
  width:100%;
  display:block;
  margin:5px;
}

form.user_evaluation li.question select {
  margin:5px;
}

span.empty_field {
  color: #BBB;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}


table.birds_list tr:nth-child(even) { background-color: #FFF; }
table.birds_list tr:nth-child(odd) { background-color: #F4F4F4; }
table.birds_list tr:first-child td {
   /* border-top: 1px solid #E8E8E8; */
}

table.birds_list td {
  padding:0px;
  margin:0px;
  background-color:transparent;
  vertical-align:middle;
}

table.birds_list td {
  padding:8px;
  border-bottom: 1px solid #E8E8E8;
}
table.birds_list td:first-child { /* border-left: 1px solid #E8E8E8;*/ }
table.birds_list td:last-child { /*border-right: 1px solid #E8E8E8;*/ }



/* Birds List Table */
table#birds tr.mouseover, table#birds td.mouseover,
table.birds_list tr.mouseover, table.birds_list td.mouseover {
  background-color:#FFFFCC;
  cursor:pointer;
}

table#birds td {
  vertical-align:middle;
}

table#birds td.name,
table.birds_list {
  font-size:1.17em;
}


#last_saved_sidebar_section {
  position: fixed;
  width: 270px;
  right: 30px;
  bottom: 10px
}

#last_saved_sidebar_section h3 {
  font-weight:normal;
}

#last_saved_sidebar_section .panel_contents {
  padding: 3px 15px 8px 15px
}

/* spinner */
.edit_saved_status{
  display:inline;
  position:absolute;
  height:16px;
  width:16px;
  margin-left:8px;
}
.edit_saved_status.saved {
  background-image: none;
}
.updating, 
.edit_saved_status.saving {
  background: url('/images/spinner.gif') center center no-repeat;
}

.updating {
  height:16px;
  width:16px; 
  margin:0 auto;
}

.sidebar_section ul.file_list {
  list-style-type:none;
  margin:0;
  padding:0;
}

.sidebar_section .file_list li {
  margin:4px;
  vertical-align:middle;
}

/* Evaulation Results/Visualization */

table.evaluation_results {
  width:60%;
}

table.evaluation_results tr {
  height:60px;
}

table.evaluation_results td {
  padding: 5px 0 0 0;
  margin:0;
  border-top: 1px solid #E8E8E8;
  border-bottom:none;
}


table.evaluation_results .evaluation_result_pie {
  position:relative;
  width:45px;
  height:60px;
  margin:0;
  padding:0;
  text-align:center;
  -moz-user-select: none; 
  -khtml-user-select: none; 
}



table.evaluation_results .evaluation_result_pie.sub_question {
  width: 30px;
  height: 50px;
  opacity: 0.9;
  left:-7px; 
} 

table.evaluation_results .evaluation_result_pie svg {
  cursor:pointer;
  -moz-user-select: none; 
  -khtml-user-select: none; /* webkit browsers */

}

div#evaluation_result_details {
  position:fixed;
  top:120px;
  right:10px;
  width:38%;
  max-height:400px;
  overflow-y:scroll;
}

div#evaluation_result_details .panel {
  margin:0;
}

div#evaluation_result_details .panel h3 a.close {
  float:right;
  font-weight: normal;
  cursor:pointer;

}

div#evaluation_result_details .attributes_table table th {
  width:85px;
  padding:8px 0px;
}


/* show user_evaluation */

.show.admin_user_evaluations .question {
  font-weight: bold;
  width:55%;
  padding:5px;
  float:left;
}
.show.admin_user_evaluations .answer {
  width:40%;
  padding:5px;
  float:left;
  font-size:.95em;
}


/*answer styles */

span.answer_yes{
  background-color: #ACA;
  padding:3px;
  width:35px;
}
path.answer_yes {
  fill: #ACA;
}

span.answer_no{
  background-color: #CAA;
  padding:3px;
}
path.answer_no {
  fill: #CAA;
}

span.answer_na {
  background-color: #E5E579;
  padding:3px;
}
path.answer_na {
  fill: #E5E579;
}

span.answer_blank{
  background-color: #EEE;
  padding:3px; 
}
path.answer_blank {
  fill: #EEE;
}


.comment_yes, 
.comment_no, 
.comment_na {
  stroke: #666;
  stroke-width:1.2px;
}



table.result_groups {

  width:600px;

}
.result_groups span.answer_yes,
.result_groups span.answer_no,
.result_groups span.answer_na,
.result_groups span.answer_blank {
  display:block;
  width:100%;
  text-align: center;
}

svg .pie {
  shape-rendering: "crispEdges";
}



.multicolumn_2 {
  -moz-column-count: 2;
  -moz-column-gap: 0px;
  -webkit-column-count: 2;
  -webkit-column-gap: 00px;
  column-count: 2;
  column-gap: 0px;
}


.multicolumn_3 {
  -moz-column-count: 3;
  -moz-column-gap: 20px;
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  column-count: 3;
  column-gap: 20px;
}


.multicolumn_4 {
  -moz-column-count: 4;
  -moz-column-gap: 20px;
  -webkit-column-count: 4;
  -webkit-column-gap: 20px;
  column-count: 4;
  column-gap: 20px;
}


form.toggle.closed fieldset.inputs > ol {
  display:none;
}


form.toggle legend span {
  cursor:pointer;
  color: #38678B;
}
