%div.container.evaluation_set(ng-app="boi" ng-controller="EvaluationSetController" ng-init="init(#{@id})")

  .span2
    &nbsp;
  .span8

    %h4 Birds of the Internet: Evaluating participation
    %section.overview
      %p
        The table below presents the responses to each of the seven evaluation questions (and two sub-questions) for each of the 102 cases in the <a href="http://recursivepublic.net/">Part.Lab</a> study. Each of the evaluation questions (displayed as columns) was answered with 'yes', 'no', or 'n/a' for each case (displayed as rows) by between three and five members of our research group. The number of responses for each question/case pair is indicated by the number in the center of the 'donut' diagram. 
        The evaluation questions are: 

      %ul 
        %li (1) Does participation in this entity produce an educative dividend?
        %li (2) Does this entity allow participation in goals as well as tasks?
        %li (2.1) If yes (#2), is participation in goals direct/ representative? Choose YES for direct and No for representative.
        %li (3) Does this entity allow participants to maintain control or ownership of resources produced?
        %li (3.1) If yes (#3), collective or individual control? YES for collective, NO for individual
        %li (4) Is there the capacity for exit (with resources or without penalty)?
        %li (5) Is there the capacity for effective voice (feedback, dissent or protest)?
        %li (6) Are there metrics of participation? Can a participant see, measure or experience the outcome of their participation?
        %li (7) Does the entity itself provide the capacity for communication (affective, subjective, rational or other meaningful intercourse) between participants in some form?

      %p 
        Move your mouse over the individual diagrams to see response details - click the diagram to see evaluator comments. You can sort the cases alphabetically by clicking "Case Name", by question response score (the average of the question responses for a particular question/case) by clicking the question number, or by response similarity by clicking "similarity sort" for a particular case. In the latter, cases are arranged by the (euclidean) distance between their response scores and that of the chosen case – cases with more similar result "profiles" will appear at the top. (<a href="http://www.uta.edu/faculty/sawasthi/Statistics/stcluan.html#d">Euclidean distance</a> is a popular metric used in clustering techniques such as hierarchical agglomeration).

      %a(toggle-summary)
        %span.hidden show overview
        %span hide

  .span2
    &nbsp;
  %table.span8.evaluation_results(ng-class="{sort_asc: sort_order == 'asc', sort_desc: sort_order != 'asc' }")
    %thead
      %tr
        %th(ng-class="{active_sort: sort_field == 'name' }") 
          %a.field_name(ng-click=" set_sort_field('name') ")
            Case Name         
          %span.toggle_sort(ng-click="toggle_sort_order()")
            %span.entypo
        %th(ng-repeat="question in show_questions"
            ng-class="{active_sort: sort_field == question.position}")

          %a.field_name(ng-click="set_sort_field(question.position)"
            popover="{{question.question}}" 
            popover-trigger="mouseenter" 
            popover-placement="bottom") {{question.position}}
          %span.toggle_sort(ng-click="toggle_sort_order()")
            %span.entypo

    %tbody

      // Bird Row
      %tr(ng-repeat="b in birds" 
           ng-controller="BirdResultController" 
           ng-init="bird = b"
           ng-class="{ active_sort: sort_field == bird }")

        %td 
          {{ bird.name }}
          .hint
            %a.proximity_sort(ng-click=" set_sort_field(bird) ")
              similarity sort
          .hint(ng-show="sort_type == 'proximity' ")
            distance: {{bird.distance | number:4}}


        %td(ng-repeat="question in $parent.show_questions")

          %div(popover-template="/assets/frontend/evaluation_set/pie_popup.html" 
            popover-trigger="mouseenter" 
            popover-placement="top"
            ng-click="load_response_details(question)")

            .evaluation_result_pie(case-result-pie
              ng-model = "bird.results[question.id]"
              sub-question="$parent.is_sub_question(question)")

  %div(ng-controller="ResponseDetailsController" ng-show="show")
    .span4#response_details(style="position:fixed")
      .row-fluid
        .span1
        .span10
          %strong EVALUATION RESPONSE DETAILS
        .span1
          .entypo.cross(ng-click="show = false")
      .row-fluid
        .span3 
          %h6 Case
        .span9 
          %img(ng-src="{{bird.thumbnail_100_url}}" ng-show="bird.thumbnail_100_url")
          {{bird.name}}
      .row-fluid
        .span3 
          %h6 Question
        .span9 {{question.question}}
      .row-fluid
        .span3 
          %h6 Responses
        .span9 
          Yes: {{answers_of_type('YES').length}},
          No: {{answers_of_type('NO').length}},
          N/A: {{answers_of_type('N/A').length}}

      .row-fluid(ng-show=" comments_for_answer_type('YES').length ")
        .span3
          %h6 YES Comments
        %ul.span9           
          %li(ng-repeat="a in comments_for_answer_type('YES') ")
            "{{a}}"

      .row-fluid(ng-show=" comments_for_answer_type('NO').length ")
        .span3
          %h6 NO Comments
        %ul.span9           
          %li(ng-repeat="a in comments_for_answer_type('NO') ")
            "{{a}}"

      .row-fluid(ng-show=" comments_for_answer_type('N/A').length ")
        .span3
          %h6 N/A Comments
        %ul.span9           
          %li(ng-repeat="a in comments_for_answer_type('N/A') ")
            "{{a}}"
    
