%div(ng-app="boi" ng-controller="EvaluationSetController" ng-init="init(#{@id})")

  %button(ng-click=" sort_by_name() ") sort

  %table.evaluation_results
    %tr(ng-repeat="b in birds" 
         ng-controller="BirdResultController" 
         ng-init="bird = b")
      %td {{ bird.name }}
      %td(ng-repeat="r in bird.results")

        %div.evaluation_result_pie(case-result-pie ng-model="r"
          sub-question="$parent.is_sub_question(r)")

