%div.container(ng-app="boi" ng-controller="EvaluationSetController" ng-init="init(#{@id})")

  %table.span7.evaluation_results(ng-class="{sort_asc: sort_order == 'asc', sort_desc: sort_order != 'asc' }")
    %thead
      %tr
        %th(ng-class="{active_sort: sort_field == 'name' }") 
          %a.field_name(ng-click=" set_sort_field('name') ")
            Name         
          %span.toggle_sort(ng-click="toggle_sort_order()")
            %span.entypo
        %th(ng-repeat="question in show_questions"
            ng-class="{active_sort: sort_field == question.position}")

          %a.field_name(ng-click="set_sort_field(question.position)"
            popover="{{question.question}}" 
            popover-trigger="mouseenter" 
            popover-placement="bottom") {{question.position}}
          %span.toggle_sort(ng-click="toggle_sort_order()")
            %span.entypo

    %tbody

      // Bird Row
      %tr(ng-repeat="b in birds" 
           ng-controller="BirdResultController" 
           ng-init="bird = b"
           ng-class="{ active_sort: sort_field == bird }")

        %td 
          {{ bird.name }}
          .hint
            %a.proximity_sort(ng-click=" set_sort_field(bird) ")
              proximity sort
          .hint(ng-show="sort_type == 'proximity' ")
            distance: {{bird.distance | number:4}}


        %td(ng-repeat="question in $parent.show_questions")

          %div(popover="{{bird.results[question.id].answer_score}}" 
            popover-trigger="mouseenter" 
            popover-placement="top"
            ng-click="load_response_details(question)")

            .evaluation_result_pie(case-result-pie
              ng-model = "bird.results[question.id]"
              sub-question="$parent.is_sub_question(question)")

  %div(ng-controller="ResponseDetailsController" ng-show="show")
    .span4#response_details(style="position:fixed")
      .bird {{bird.name}}
      .question {{question.question}}

    
