div[case-result-pie] {
  width: 100px;
  height: 100px;
}

// * Evaulation Results/Visualization */

table.evaluation_results {
  width:75%;

  .active_sort {
    background-color: #eee;
  }

  thead {
    th {
      .toggle_sort {
        display:none;
        cursor: pointer;
        .entypo {
          font-size:14px;
        }
      }
    }

  }

  &.sort_desc {
    th.active_sort .toggle_sort {
      display: inline;
      .entypo:before {
        content:'\E767';
      }
    }
  }

  &.sort_asc {
    th.active_sort .toggle_sort {
      display: inline;
      .entypo:before {
        content:'\E764';
      }

    }
  }


  tbody{
    height:100%;
    padding-top: 50px;
    overflow: hidden;

  }



  tr {
    height:60px;

    &.active_sort a.proximity_sort {
      display:none;
    }

  }

  td {
    padding: 4px;
    margin:0;
    border-top: 1px solid #E8E8E8;
    border-bottom:none;
  }

  td.sub_question{
    padding:3px;
    a {
        font-weight: normal;
        color: #AAA;
      }
  }


  .evaluation_result_pie {
    position:relative;
    width:45px;
    height:60px;
    margin:0;
    padding:0;
    text-align:center;
    -moz-user-select: none; 
    -khtml-user-select: none; 

    svg {
      cursor:pointer;
      -moz-user-select: none; 
      -khtml-user-select: none; /* webkit browsers */
    }

  }


  .evaluation_result_pie.sub_question {
    width: 35px;
    height: 50px;
    opacity: 0.9;
    left:-5px; 
  }


  .evaluation_result_pie.summary {
    width:60px;
    height:60px;
  }



}



div#evaluation_result_details {
  position:fixed;
  top:120px;
  right:10px;
  width:38%;
  overflow:hidden;
  -moz-box-shadow: 0 0 30px #666;
  -webkit-box-shadow: 0 0 30px #666;
  box-shadow: 0 0 30px #666;
  z-index:1000;

}

.results_twoaxis div#evaluation_result_details {
  width: 250px;
  top:100px;

}


div#evaluation_result_details .panel {
  margin:0;
}

div#evaluation_result_details .panel .panel_contents{
  max-height:400px;
  overflow-y:scroll;
}

div#evaluation_result_details .panel h3 a.close {
  float:right;
  font-weight: normal;
  cursor:pointer;

}

div#evaluation_result_details .attributes_table table th {
  width:85px;
  padding:8px 0px;
}


/* show user_evaluation */

.show.admin_user_evaluations .question {
  font-weight: bold;
  width:55%;
  padding:5px;
  float:left;
}
.show.admin_user_evaluations .answer {
  width:40%;
  padding:5px;
  float:left;
  font-size:.95em;
}


/*answer styles */

span.answer_yes{
  background-color: #ACA;
  padding:3px;
  width:35px;
}
// path.answer_yes {
//   fill: #ACA;
// }

span.answer_no{
  background-color: #CAA;
  padding:3px;
}
// path.answer_no {
//   fill: #CAA;
// }

span.answer_na {
  background-color: #E5E579;
  padding:3px;
}
// path.answer_na {
//   fill: #E5E579;
// }

span.answer_blank{
  background-color: #EEE;
  padding:3px; 
}
// path.answer_blank {
//   fill: #EEE;
// }


.comment_yes, 
.comment_no, 
.comment_na {
  // stroke: #666;
  // stroke-width:1.2px;
}



table.result_groups {
  width:600px;

}
.result_groups span.answer_yes,
.result_groups span.answer_no,
.result_groups span.answer_na,
.result_groups span.answer_blank {
  display:block;
  width:100%;
  text-align: center;
}