.panel
  %h3
    Evaluation Result Details
    %a.close{ :href =>"javascript:void(0)", :onclick => '$(this).closest("#evaluation_result_details").html("")' } close
  .panel_contents
    .attributes_table

      - questions =@evaluation_set.evaluation_questions
      %table.index_table.evaluation_results{:border => "0", :cellpadding => "0", :cellspacing => "0"}
        %tbody
          - @result_rows.each do |row|
            %tr
              %td
                %b= link_to row.bird.name, [:admin, row.bird]

              - [ row.results[@x_question_index],  row.results[@y_question_index] ].each do |result|
                %td{:class => result.evaluation_question.sub_question ? "sub_question" : ""}
                  - title = capture do 
                    =result.evaluation_question.to_s
                    %br/
                    %b Yes:
                    = result.yes_count
                    %b No:
                    = result.no_count
                    %b N/A
                    =result.na_count
                    %br/
                    %b Score
                    =result.answer_score

                  = link_to summary_admin_evaluation_set_user_evaluation_answers_path(@evaluation_set, 
                      :evaluation_question_id => result.evaluation_question_id, :bird_id => row.bird.id ),
                      :remote =>true  do
                    .evaluation_result_pie.tooltip_trigger{  :title => title,
                      :class => (result.evaluation_question.sub_question ? "sub_question" : ""),
                      "data-blank-count"  => result.blank_count, 
                      "data-na-comments"  => result.na_comments, 
                      "data-na-count"     => result.na_count, 
                      "data-no-comments"  => result.no_comments,
                      "data-no-count"     => result.no_count, 
                      "data-yes-comments" => result.yes_comments, 
                      "data-yes-count"    => result.yes_count }


